- var description="小米家電在全國，獨家首賣米家直流變頻落地扇，獨家送時尚生活陶瓷刀砧板組";
- var keywords="小米家電在全國,小米家電,米家直流變頻落地扇,石頭掃地機器人,米家掃地機器人,小米手環";

- var og_url="http://www.elifemall.com.tw/mi/";
- var og_type="website";

- var title = "小米家電在全國";
- var footer="全國電子股份有限公司";

- var fixmenuarr=['menu1','menu2','menu3'];
- var needfixmenu=false;

- var date=Date.now();