- var description="全國電子_學長幫你 ∣ 超值獨家優惠UltraBook就找全國電子";
- var keywords="全國電子_學長幫你,ultrabook,asus超值送,acer超值送,office365超值送";

- var og_url="http://www.elifemall.com.tw/ultrabooks/";
- var og_type="website";

- var title = "全國電子 | Apple Shop 民族店 盛大開幕";
- var footer="全國電子股份有限公司 Copyright © elifemall.com.tw All rights reserved.";

- var fixmenuarr=['menu1','menu2','menu3'];