svg( version="1.1" id="menu-bar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 403 300" style="enable-background:new 0 0 403 300;" xml:space="preserve")
    g
        rect(width="403",height="51")
    g
        rect(y="249",width="403",height="51")
    g
        rect(y="124.5",width="403",height="51")