include includes/config.pug

doctype html
html(lang="zh-Hant-TW")
    include includes/head.pug
    body
    
        h1#box H!ss

        
        
        include includes/footer.pug
        script(src="./js/app.js")