include includes/config

doctype html
html(lang="zh-Hant-TW")
    include includes/head
    body
    
        h1#box H!ss

        
        
        include includes/footer
        script(src="./js/app.js")