extends includes/layout.pug

block content
    header
        h1.h1-seo #{description}
    main#main
        article
            section.item-wrap
                h2 Item-Wrap
            section.item-wrap
                h2 Item-Wrap
            section.item-wrap
                h2 Item-Wrap