<%- include('./includes/head.ejs') %>

<header>
    
</header>
<main id="app">
    <article>
        <section></section>
    </article>
</main>


<nav class="fix-menu active">
    <div class="fix-menu-slogan"></div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="fix-menu-top top">TOP</div>
</nav>

<div class="top to-top">
    <div class="triangle"></div><span>TOP</span>
</div>
<%- include('./includes/footer.ejs') %>